@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800;8..144,900;8..144,1000&display=swap');

body {
    font-family: 'Roboto Flex', sans-serif;
    margin: 0px;
    padding-top: 0px;
    padding-right: 10px;
    background-color: blanchedalmond;
    overflow: auto;
}

.row-title {
    text-align: center;
    background-color: bisque;
}

.col-main-left {
    background-color: wheat;
}

.calculator {
    user-select: none;
    background-color: darkslategrey;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
    padding: 4px;
    border-radius: 5px;
    width:100%;
}

.results {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
}

.results-item {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: 'TitleFont', sans-serif;
}

.item {
    background-color:aquamarine;
    color: black;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    cursor: pointer;
    font-family: 'Roboto Flex', sans-serif;
}

.clean {
    grid-column: 1/2;
    background-color: cyan;
}

.back {
    grid-column: 2/-1;
}

.zero {
    grid-column: 1/3;
}

form {
    height:30px;
    display: flex;
}

input {
    height:30px;
    font-size: 22px;

}

.equal {
    grid-column: 4;
    grid-row: 2/6;
    background-color:darkgrey;
}

.prev-input {
    grid-column: 1/3;
    background-color: darkolivegreen;
}

.next-input {
    grid-column: 3/5;
    background-color: darkolivegreen;
}

.col-main-right {
    background-color: burlywood;
}
.row-footer {
    background-color: khaki;
}

#head-title {
    font-family: 'Roboto Flex', sans-serif;
    text-transform: capitalize;
    color:darkslategrey;
}

.row-footer {
    font-family: 'Roboto Flex', sans-serif;
    font-size: 20px;
    text-align: center;
}